#expense-container{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 280px;
  height: 550px;
  background-color: #D1CEFF;
  border-radius: 5px;
  padding: 8px;
  right: 0;
  top: 480px;
  margin-bottom: 5px;
  margin-top:10px;
  background-color: whitesmoke
}
/*--------Responsive---------*/

@media (max-width: 1920px){
  #expense-container{

  width: 460px;
  height: auto;
  margin-top:50px;
  }
}
@media (max-width: 1850px){
  #expense-container{
  margin-right: 5px;
  width: 345px;
  margin-top:50px;
  }
}
@media (max-width: 1395px){
  #expense-container{
    width: 310px;
    height: auto;
    margin-right:5px;
    margin-bottom:200px ;
  }
}
@media (max-width: 1250px){
  #expense-container{
    width: 260px;
    height: auto;
    margin-right:0px;
    margin-top: 100px;
  }
}

@media (max-width: 1000px){
  #expense-container{
    width: 48.5%;
    height: auto;
    margin-right:250px;
    margin-top: 250px;
    padding-bottom: 30px;
  }
}
@media (max-width: 840px){
  #expense-container{
    width: 90%;
    height: auto;
    margin-top: 295px;
    padding-bottom: 30px;
    left: 25px;
  }
}
/*--------Responsive---------*/
