#container_expense{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}
#expense-svg{
  position: relative;
  width: 50%;
  margin-bottom: 50px;
}






