#container_expense{
  margin-top: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
}
#expense-svg{
  position: relative;
  width: 50%;
  margin-bottom: 50px;
}

.expense-form{
  padding: 40px;
  display:flex;
  flex-direction: column;
  border:1px solid lightgrey;
  align-items: center;
  box-shadow: 1px 1px 12px #DBDBDB;
}

.TitleexpenseForm{
  align-items: center;
  display:flex;
  flex-direction: column;
}

.borderCheckBox{
  border: 1px solid lightgrey;
  min-width: 170px;
  margin-bottom: 10px;
}

