.card-expense-body{
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  height: auto;
  background-color: #D1CEFF;
  border-radius: 5px;
  padding: 8px;
  top: 0px;
  left: inherit;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin-bottom: 5px;
}
.card-expense-body:hover{
  left: 5px;
}

#img-card-svg{
  width: auto;
  height: 45px;
  background-color: #A8A2FD;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
}

.infos-display-container{
  position: relative;
  margin-left: 5px;
}
.tile-display-expense, .text-display-expense{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
} 

.tile-display-expense{
  font-size: 18px;
}
.text-display-expense{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #fee686;
  width: 40px;
  border-radius: 5px;
  padding: 1px;
}
/*--------Responsive---------*/

@media (max-width: 1920px){
  .card-expense-body{
  margin-right: 10px;
  width: 100%;
  }
  
}
@media (max-width: 1850px){
  .card-expense-body{
  margin-right: 8px;
  width: 100%;
  }
}
@media (max-width: 1395px){
  #expense-container{
    width: 310px;
    height: auto;
    margin-right:5px;
  }
}
@media (max-width: 1250px){
  .card-expense-body{
    width: 100%;
    height: auto;
    margin-right:5px;
    
  }
}

@media (max-width: 1000px){
  .card-expense-body{
    width: 100%;
    height: auto;
    right: 0px;
   
  }
}
@media (max-width: 840px){
  .card-expense-body{
    width: 100%;
    height: auto;
    left: 0px;
  }
}
/*--------Responsive---------*/
