.card-expense-body {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #d1ceff;
  border-radius: 5px;
  padding: 8px;
  top: 0px;
  left: inherit;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin-bottom: 5px;
}
.card-expense-body:hover {
  left: 5px;
}

#img-card-svg {
  width: auto;
  height: 45px;
  background-color: #a8a2fd;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
}

.infos-display-container {
  position: relative;
  margin-left: 8px;
}
.tile-display-expense,
.text-display-expense {
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.tile-display-expense {
  font-size: 18px;
  bottom: 3px;
}
.text-display-expense {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #fee686;
  width: 40px;
  border-radius: 5px;
  padding: 1px;
  bottom: 3px;
}
