.nav-dashboard{
  width: 100%;

  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn-dashboard-nav{
  background-color: white;
  border: none;
  font-size: large;
}

.btn-dashboard-nav:hover{
  cursor: pointer;
}
.title-dashboard{
  margin-top: 5%;
  text-align: center;
}