.nav-dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.Mini_avatar_display {
  margin-bottom: 15px;
  justify-content: center;
}
.avatar_dashboard:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.btn-dashboard-nav {
  background-color: white;
  border: none;
  font-size: 3.5rem;
  transition: all 100ms ease-in-out;
}
@media (max-width: 840px) {
  .btn-dashboard-nav {
    margin-top: 30px;
  }
}
.btn-dashboard-nav span {
  display: none;
  font-size: 1rem;
}

.btn-dashboard-nav:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.btn-dashboard-nav:hover strong {
  filter: blur(1px);
}

.btn-dashboard-nav:hover span {
  border-radius: 5px;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  margin: 15px;
  width: 100px;
  position: absolute;
  top: 65px;
  left: -15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.title-dashboard {
  margin-top: 5%;
  text-align: center;
}

.avatar_dashboard {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 30px;
  transition: all 100ms ease-in-out;
  cursor:pointer;
}

.card-body {
  position: relative;
  width: 150px;
  height: 120px;
  border-radius: 6px;
  background-color: #ffff;
  box-shadow: 2px 2px 1rem rgb(155, 155, 155);
  padding: 0;
}

.card-header {
  position: relative;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  text-transform: uppercase;
}
.header-one {
  background-color: rgb(9, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
}


#title-expense-col{
  position: absolute;
  right: 0;
  font-size: 24px;
}

/*--------Responsive Title---------*/

@media (max-width: 1920px){
  #title-expense-col{
    top: 300px;
    margin-right: 245px;
  }
}
@media (max-width: 1850px){ /*Mac*/
  #title-expense-col{
    margin-right: 245px;
  }
}
@media (max-width: 1395px){
  #title-expense-col{
    margin-right: 200px;
  }
}
@media (max-width: 1250px){
  #title-expense-col{
    margin-right: 150px;
    margin-top: 50px;
  }
}

@media (max-width: 1000px){
  #title-expense-col{
    margin-right: 330px;
    margin-top: 210px;
  }
}
@media (max-width: 840px){
  #title-expense-col{
    margin-right: 350px;
    margin-top: 270px;
  }
}
/*--------Responsive title---------*/