.input-log-signin{
  display: block;
  width: 100%;
  margin-bottom: 50px;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
}

.input-log-signin:focus{
  outline: none;
}

.Register{
  border: 1px solid black;
  min-height: 450px;
  min-width: 400px;
}

.btn-signup{
  background-color: skyblue;
  border: none;
  width: 100%;
  font-size: 25px;
}

@media screen and (max-width: 915px) {
  .btn-signup{
    font-size: 10px;
  }
  .Register{
    width: 50%;
    padding: 10px;
  }
} 
@media screen and (max-width: 1650px) {
  .Register{
    padding: 40px;
  }
} 