.content-calendar{
  margin-top: 20px;
}

.popUpcreate{
  width: 50%;
  margin: 10px;
}

.form-calendar{
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.popUp-container{
  width: 50%;
  margin: 10px;
}

.contain-text{
  border: 1px solid black;
  padding: 5px;
}

.text-pop{
  display: flex;
  justify-content: center;
}
.popUp{
  display: flex;
  align-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.button-delete{
  background-color:tomato;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button-delete:hover{
  cursor: pointer;
}

.button-create{
  background-color:skyblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.button-create:hover{
  cursor: pointer;
}