.content-calendar{
  margin-top: 20px;
}

.calendar{
  box-shadow: 1px 1px 12px #DBDBDB;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 320px;
}
@media (max-width: 1500px) {
  .create-event{
    padding: 15px;
  }
}

@media (max-width: 530px) {
  .create-event{
    padding: 20px;
  }
  .calendar{
    width: 220px;
  }
  .form-global-calendar{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.form-global-calendar{
  margin-top:30px;
  display:flex;
}

.centerTitle{
  text-align: center;
  padding-top: 5px;
}
.popUpcreate{
  width: 50%;
  margin: 10px;
}

.form-calendar{
  display: block;
  margin-bottom: 20px;
  width: 100%;
 
}

.popUp-container{
  width: 100%;
  overflow-y:scroll;
  height: 150px;
  border-top: none;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 0px 0px 5px 5px;
}

.contain-text{
  border: 1px solid lightgray;
  padding: 5px;
}

.text-pop{
  display: flex;
  justify-content: center;
}
.popUp{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.button-delete{
  background-color:tomato;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button-delete:hover{
  cursor: pointer;
}

.button-create{
  background-color:skyblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.button-create:hover{
  cursor: pointer;
}

.formCalendar2{
  display: flex;
  border: 1px solid lightgrey;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  margin-left: 10px;
  box-shadow: 1px 1px 12px #DBDBDB;
}

.colorBlue{
  color: #1990FF;
}
.event-past-container, .event-coming-container{
overflow-y: scroll;
height: 160px;
margin: 0;
padding: 0;
border-top: none;
border-left: 1px solid lightgrey;
border-bottom: 1px solid lightgrey;
border-right: 1px solid lightgrey;
border-radius: 0px 0px 5px 5px;

}
.event-past-container{
  margin-bottom: 50px;
}
.event-coming{
  display: flex;
  align-items: center;
}
.event-past{
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.event-dotted-coming{
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #F5A623 ;
  margin-right: 10px;
}
.event-dotted-past{
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #61AAFF ;
  margin-right: 10px;
}

.event-content-coming{
  background-color: rgb(255, 248, 226);
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;  
}

.event-content-past{
  background-color: #d8eaff;
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;  
}
.event-content-coming h2 ,.event-content-coming p,
.event-content-past h2 ,.event-content-past p{
  padding: 0;
  margin-top: 10px;
  text-align: left;
}
.event-content-coming h2, .event-content-past h2{
  position: relative;
  left: 20px;
  margin-right: 200px;
}
.cd-date{
  position: relative;
  margin-bottom: 60px;
  margin-left: 22px;
  color: #1990FF;
  right: 558px;
  width: 100px;
  margin-left: 0;

}

#all-events{
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}
.title-calendar-event{
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius:5px 5px 0px 0px  ;
  border-bottom: none;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}