.navbar {
  display: flex;
  flex-direction: column;
  width: 150px;
  top: 62px;
  left: 250px;
  position: fixed;
  z-index: 1;
}

.content-link {
  text-align: left;
  width: 100%;
  height: 40px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 15px;
  transition: all 100ms ease-in-out;
}

.link:hover {
  text-decoration: none;
  background-color: whitesmoke;
}
.nav-icon {
  display: none;
}

@media (max-width: 1600px) {
  .navbar {
    border: none;
    margin-left: -50px;
  }
  .link {
    font-size: 18px !important;
  }
}

@media (max-width: 1400px) {
  .link {
    font-size: 15px !important;
  }
}
@media (max-width: 1200px) {
  .navbar {
    border: none;
    margin-left: -150px;
  }
}

@media (max-width: 965px) {
  .navbar {
    border: none;
    margin-left: -240px;
  }
}

@media (max-width: 840px) {
  .navbar {
    width: 100%;
    flex-direction: row;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.158);
    justify-content: space-around;
    margin: 0;
    z-index: 3;
    height: 60px;
  }
  .first {
    display: none;
  }
  .content-link {
    margin-top: 0;
    text-align: center;
  }
  .nav-icon {
    display: block;
    font-size: 30px !important;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-radius: 15px;
    transition: all 100ms ease-in-out;
  }
  .nav-icon:hover {
    text-decoration: none;
  }
  .link {
    display: none;
  }
}

.content-link #home-logo {
  position: relative;
  bottom: 20px;
  width: 40px;
  left: 8px;
  margin: 0;
  padding: 0;
  transition: all 100ms ease-in-out;
}

#home-logo:hover {
  transform: scale(1.2);
}
