.navbar {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 150px;
  top: 50px;
  left: 250px;
  position: fixed;
  border-right: 0.2px solid rgb(216, 216, 216);
}
.content-link {
  text-align: left;
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  transition: all 100ms ease-in-out;
}

.link:hover {
  text-decoration: none;
  background-color: whitesmoke;
}
.nav-icon {
  display: none;
}

@media (max-width: 1600px) {
  .navbar {
    border: none;
    margin-left: -50px;
  }
  .link {
    font-size: 14px !important;
  }
}

@media (max-width: 1200px) {
  .navbar {
    border: none;
    margin-left: -150px;
  }
}

@media (max-width: 965px) {
  .navbar {
    border: none;
    margin-left: -240px;
  }
}

@media (max-width: 840px) {
  .navbar {
    width: 100%;
    flex-direction: row;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.158);
    height: 75px;
    justify-content: space-around;
    margin: 0;
    z-index: 1;
  }
  .first {
    display: none;
  }
  .content-link {
    margin-top: 0;
    text-align: center;
  }
  .nav-icon {
    display: block;
    font-size: 40px !important;
    padding: 10px;
    text-decoration: none;
    color: black;

    font-weight: 600;
    border-radius: 15px;
    transition: all 100ms ease-in-out;
  }
  .nav-icon:hover {
    text-decoration: none;
  }
  .link {
    display: none;
  }
}

.content-link #home-logo {
  position: relative;
  bottom: 20px;
  width: 40px;
  left: 8px;
  margin: 0;
  padding: 0;
  transition: all 100ms ease-in-out;
}

#home-logo:hover {
  transform: scale(1.2);
}
