.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  background-color: #3f3d56;
  padding-top: 10px;
}

.content-link {
  padding: 20%;

  position: relative;
}
html {
  max-height: 400px;
}

@media (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    padding-top: 0;
    position: fixed;
    top: 90%;
  }
  .content-link {
    padding: 10px;
  }
}

.link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: all 100ms ease-in-out;
}

.link:hover {
  font-size: 18px;
  text-decoration: none;
  color: orange;
}

.btn-nav{
  padding: 0;
  width: 20px;
  background-color: #3f3d56;
  border: none;
}

.btn-nav:hover{
  cursor: pointer;
}