.btn-signup {
  background-color: skyblue;
  border: none;
  width: 100%;
  font-size: 25px;
}
.invisible {
  display: none;
}

.invisible2 {
  display: none;
}

.Register h1 {
  text-align: center;
  margin-bottom: 35px;
}
.Register {
  margin-top: 40px;
}
