html {
  padding: 0;
  margin: 0;
}
#app-container {
  font-family: "Monsterrat", sans-serif;
  align-items: center;
  width: 52%;
  height: 100vh;
  margin-left: 300px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

}
.center {
  display: flex;
  justify-content: center;
}

@media (max-width: 1400px) {
  #app-container {
    margin-left: 250px;
  }
}
@media (max-width: 1150px) {
  #app-container {
    border-right: none;
    margin-right: 0;
    width: 78%;
    padding: 20px;
  }
}

@media (max-width: 840px) {
  #app-container {
    width: 100% !important;
    margin-top: 20px;
    margin-left: 0;
  }
}
